.tab__button {
  background-color: #2a9d8f;
  border: 0;
  color: rgb(220, 230, 240);
  font-family: 'Roboto Slab', serif;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1em;
  transition: color 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.tab__button:hover {
  color: #fff;
  cursor: pointer;
}

.tab__button:focus {
  color: #fff;
  outline: none;
}

.tab__button--active {
  background-color: #264653;
}

.tab__content {
  background-color: #faf3dd;
  border: 1px solid #264653;
  padding: 1rem;
}

.tab__content p:first-child {
  margin-top: 0;
}
